@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*
{
    margin: 0;

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@theme
{
    --color-*: initial;
    /*Primary*/
    --color-blue-900: hsl(233, 26%, 24%);
    --color-green-500: hsl(136, 64%, 51%);
    --color-cyan-400: hsl(192, 69%, 51%);

    /*Neutral*/
    --color-gray-600: hsl(233, 8%, 62%);
    --color-gray-100: hsl(220, 16%, 96%);
    --color-gray-50: hsl(0, 0%, 98%);
    --color-white: hsl(0, 100%, 100%);

    --color-black: hsl(0, 0%, 0%);
}

.bg-button
{
    background: #2090bd;
    background: linear-gradient(20deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
}

.button-font
{
    font-weight: 700;
}